{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h4 class="mt-4">Contact Us</h4>
                        <p class="text-muted">if you have queries, questions or complaints feel free to contact us</p>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="d-block btn btn-danger my-4" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}