{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h3 class="text-center my-5">Department of Immigration and Citizenship</h3>
        <div class="col-sm-6 my-3">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title">Residence Permit</h5>
              <p class="card-text">Apply for residence permit here.</p>
              <a href="{% url 'residence_permit' %}" class="d-block btn btn-success">Apply</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 my-3">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title">Permanent Residence Permit</h5>
              <p class="card-text">Apply for permanent residence permit here</p>
              <a href="#" class="d-block btn btn-success">Apply</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 my-3">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title">Residence Exemption Permit</h5>
              <p class="card-text">Apply for residence exemption permit here</p>
              <a href="#" class="d-block btn btn-success">Apply</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 my-3">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title">Citizenship</h5>
              <p class="card-text">Apply for Citizenship here</p>
              <a href="#" class="d-block btn btn-success">Apply</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 my-3">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title">Botswana Blue Card</h5>
              <p class="card-text">Apply for Botswana blue card here</p>
              <a href="#" class="d-block btn btn-success">Apply</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 my-3">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title">VISA</h5>
              <p class="card-text">Apply for Botswana VISA here</p>
              <a href="#" class="d-block btn btn-success">Apply</a>
            </div>
          </div>
        </div>


      </div>
</div>
{% endblock content %}
