{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <div class="media">
            <div class="media-body">
              <h2 class="account-heading my-2">Good Day {{ user.first_name }} {{ user.last_name }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
          </div>
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="form-group">
                  <legend class="border-bottom my-4">Account Information</legend>
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                <h6><a class="btn btn-outline-info btn-block" href="{% url 'password-reset' %}"> change your password ?</a></h6>
                  <button class="btn btn-block btn-dark" type="submit">Update</button>
              </div>
          </form>
        </div>
      </div>

{% endblock content %}
